//@import "components/General";

.large-cell{
  display: inline-block;
  margin-right: 2px;
  padding: 0;
  width: 25px;
  height: 25px;
}

.smaller-cell{
  display: inline-block;
  margin-right: 1px;
  padding: 0;
  width: 19px;
  height: 19px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.white{
  background-color: white;
}
