.cell{
  display: inline-block;
  margin-right: 2px;
  padding: 0;
  width: 25px;
  height: 25px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.white{
  background-color: white;
}
