.grid{
  width: 540px;
  margin: 0 auto;
}

.buttons button{
  border-radius: 5px;
  border: none;
  background-color: rgb(111, 108, 133);
  color: #fffdd0;
  font-size: 2rem;
  margin: 1rem;
  padding: 3px 4px;

}

.buttons > .reset{
  background-color: red;
}
